.nav {
  display: flex;
  padding: 5.6rem 20rem;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline;
    margin-left: 8.2rem;
  }

  &__btn:link,
  &__btn:visited {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: $regular;
    transition: all 0.2s;
    padding-bottom: 1.5rem;
  }

  &__btn:hover,
  &__btn:active {
    border-bottom: 2px solid white;
  }
}