//FONT-WEIGHT
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

//FONT COLOR
$color-black: #000;
$color-white: #fff;
$color-heading: #102746;

$color-primary: #006dfe;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.main-container {
  margin-top: -10rem;

  display: grid;
  grid-template-rows: repeat(5, min-content);

  grid-template-columns: [full-start] minmax(8rem, 1fr) [center-start] minmax(min-content, 1260px) [center-end] minmax(8rem, 1fr) [full-end];
  grid-row-gap: 13rem;
}